<!DOCTYPE html>
<html lang="en">


<body>
  <h1 style="color: blue">Home</h1>
  <p>This is a Grocery Store CRUD Application</p>
  <br>
   <p>I also implemented Option 1) Undo deletes and add deletion comments</p>
   
   <br>
  Append /create to the url to add items
   <br>
  Append /data to view all items
   <br>
  Append /data/"id"/update to the url to add items, where "id" is the id of an item
  <br>
  Append /data/"id"/delete to delete items
  <br>
  Append /data/"id"/undelete to undo a delete 
  <br>
  Append /data/deleted to view deleted items
</body>

</html>